h1 {
    text-align: center;
}

.current {
    font-weight: bold;
}

body {
    width: 800px;
    margin: auto;
}

hr {
    margin-bottom: 1em;
}

.headshot {
    float: left;
    height: 260px;
    margin-right: 10px;
}

.header {
    text-align: center;
    width: 100%;
    height: 2em;
}

.header a {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.aphasiaReconnect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    padding-bottom: 10px; 
}

.dogs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px; 
}

.humphreyHeadshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px; 
}

.linkedinLogo {
    display: block;
    height: 50px; 
}

